{{ partial "header.html" . }}
<div class="page-container">
{{if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ end }}

<div class="prelist">
  <img src="/images/profile-small.jpg" class="headshot" alt="My face, with my hair pulled back, against a plain background." />
  <div class="list-blurb">
    {{ .Content }}
  </div>
</div>

<div>
  <h2 style="padding-left:5%;">Entries</h3>
<ul>
  {{ range (where .Data.Pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>
</div>
</div>
{{ partial "footer.html" . }}
