{{ partial "header.html" . }}
<div class="page-container">
  {{if not .IsHome }}
  <div class="article-meta">
    <h1>
      <span class="title">{{ .Title }}</span>
    </h1>
  </div>
  {{ end }}

  <!-- Home page content -->

  {{if .IsHome }}
  <div class="prelist">
    <div class="list-meta">
      <img src="/images/profile-small.jpg" class="headshot" alt="My face, with my hair pulled back, against a plain background."/>
      <h5>Around the Web</h5>
      <ul>
        <li><a href="https://github.com/LeoTindall">GitHub</a></li>
        <li><a href="https://cybre.space/@tindall">Mastodon</a></li>
        <li><a href="https://linkedin.com/in/leo-tindall/">LinkedIn</a></li>
        <li><a href="https://patreon.com/leotindall">Patreon</a></li>
      </ul>

      <h5>Services</h5>
        <ul>
          <li><a href="https://pad.leotindall.com/">Etherpad</a></li>
          <li><a href="https://git.leotindall.com/">Git VCS</a></li>
          <li><a href="https://vid.leotindall.com/">PeerTube</a></li>
        </ul>

    </div>
    <div class="list-blurb">
      {{ .Content }}
    </div>
  </div>
  {{ end }}

  <!-- Paginated list of posts -->
  {{ if not .IsHome }}
  <div>
    {{ .Content }}
  </div>
  <div>
      <ul class="postsList">
        {{ range (.Paginator 5).Pages }}
        <li>
          <a href="{{ .URL }}">{{ .Title }}</a>
          <span class="postDate">posted {{ .Date.Format "January 02, 2006" }}</span>
          <blockquote class="postIntro">{{ .Summary }}</p>
        </li>
        {{ end }} {{ template "_internal/pagination.html" . }}
      </ul>
  </div>

{{ end }}
</div>
{{ partial "footer.html" . }}
