{{ partial "header.html" . }}
<div class="page-container">
<div class="article-meta">
<h1>{{ .Title }}</h1>
<div class="postMeta">
{{ with .Params.author }} By {{ . }} {{ end }}
{{ if .Params.date }} posted {{ .Date.Format "2006/01/02" }} {{ end }}
</div>
</div>

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}

<main>
{{ .Content }}
</main>

<section>
    <h2>Comments</h2>
    <div id="schnack-comments">
        Comments require JavaScript execution of a script from comments.leotindall.com.
    </div>
    <script src="https://comments.leotindall.com/embed.js"
            data-schnack-slug="{{.File.BaseFileName}}"
            data-schnack-target=".schnack-comments">
    </script>
</section>
</div>

{{ partial "footer.html" . }}
